header{
  padding: 10px;
  font-family: Papyrus;
}

main{
  width: 60%;
  margin: 20px auto;
}

blockquote{
  font-size: 28px;
  font-style: italic;
}

blockquote p:before{
  content: '“';
  font-size: 42px;
  font-weight: bold;
}

#author{
  font-family: Fantasy;
  float:right;
}

#div_bts{
  width: 60%;
  display: flex;
  margin-top: 50px;
  align-items: baseline;
  justify-content: space-between;
}

#new-quote{
  margin-top: 20px;
}

#img_cartao{
  width: 100%;
  height: 250px;
}

footer{
  bottom: 0;
  position: fixed;
  text-align: center;
  font-style: italic;
}